 @using SperingTask.Models
@model Category
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Icons" class="form-label"></label>
        <input asp-for="Icons" class="form-control">
        <span asp-validation-for="Icons"></span>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> 

